<!-- Start Article Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row row-light">
        <div class="col-12 heading">

            {{#each article.labels}}

                {{#is identifier 'zdfilter365'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-365.svg'}}">
                {{/is}}

                {{#is identifier 'zdfilteravanti'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-avanti.svg'}}">
                {{/is}}

                {{#is identifier 'zdfilterlightspeed'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-lightspeed.svg'}}">
                {{/is}}

                {{#is identifier 'zdfilterstockwell'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-stockwell.svg'}}">
                {{/is}}

                {{#is identifier 'zdfilterairvend'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-airvend.svg'}}">
                {{/is}}

                {{#is identifier 'zdfilterck'}}
                    <img class="brand-article-marker--large" src="{{asset 'article_marker-ck.svg'}}">
                {{/is}}

            {{/each}}

            {{article.title}}
            {{#if article.internal}}
                <i class="ph ph-lock-key-fill"></i>
            {{/if}}
        </div>

        <div class="col-12 subheading--small-italic d-print-none">
            {{#is article.created_at article.updated_at}}
                {{date article.created_at timeago=true}}
            {{else}}
                {{t 'updated'}} {{date article.updated_at timeago=true}}
            {{/is}}
        </div>
    </div>

    <div class="row padded-content row-light d-print-none">
        <a href="#" class="col-3 col-md-2 col-lg-1 button button--sm js-print-article">Print</a>

        <div class="col-3 col-md-2 col-lg-1 button button--sm button--subscribe">
            {{subscribe}}
        </div>
    </div>

    <div class="row article-body row-light">

        <div class="col-sm-12 col-md-3 article-sidebar d-print-none">

            <div class="js-scroll-top button button--sm">
                Scroll to Top
            </div>

            <details class="table-of-contents">
                <summary class="subheading">
                    Table of Contents
                </summary>

                <ul class="js-append-toc">
                </ul>
            </details>

            {{#if attachments}}
                <div class="article-attachments">
                    <div class="subheading">
                        Attachments
                    </div>

                    <ul>
                    {{#each attachments}}
                        <li>
                            <a href="{{url}}" target="_blank" rel="noopener">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{#if (compare article.content_tags.length ">" 0)}}

                <section class="content-tags">

                    <div class="subheading pb-sm">Related to:</div>
                    <ul class="content-tag-list">
                        {{#each article.content_tags}}
                            <li class="sub-navigation sub-navigation--light" data-content-tag-id="{{id}}">
                                {{#link "search_result" content_tag_id=id target="_blank"}}
                                    <div>{{name}}</div>
                                    <i class="ph ph-caret-right"></i>
                                {{/link}}
                            </li>
                        {{/each}}
                    </ul>

                </section>

            {{/if}}

        </div>

        <div class="col-sm col-md-8 article-inner">
            {{article.body}}
        </div>

    </div>

    {{#if article.internal}}
        <div class="row padded-content center-align row-dark d-print-none">
            <div class="col-12 heading text-align--center">
                Was this article helpful?
            </div>

            {{article.vote "up" role="radio" class="col-1 button" selected_class="button--active"}}
            {{article.vote "down" role="radio" class="col-1 button" selected_class="button--active"}}

            <div class="col-12 text-align--center">
                {{article.vote 'label' class="subheading"}}
            </div>
        </div>
    {{/if}}

</div>

<script src="{{asset 'article-page-scripts.js'}}"></script>
<script src="{{asset 'article-sidebar.js'}}"></script>

<!-- FancyBox Script/Stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

<!-- Reel Spinner Script -->
<script src="{{asset 'jquery.reel-min.js'}}"></script>

<!-- End Article Template -->
