<!-- Start Article Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark d-print-none">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{article.title}}
            {{#if article.internal}}
                <i class="ph-lock-key-fill"></i>
            {{/if}}
        </div>

        <div class="col-12 subheading--small-italic d-print-none">
            {{#is article.created_at article.updated_at}}
                {{date article.created_at timeago=true}}
            {{else}}
                {{t 'updated'}} {{date article.updated_at timeago=true}}
            {{/is}}
        </div>
    </div>

    <div class="row padded-content row-light d-print-none">
        <a href="#" class="col-3 col-md-2 col-lg-1 button js-print-article">Print</a>

        <div class="col-3 col-md-2 col-lg-1 button">
            {{subscribe}}
        </div>
    </div>

    <div class="row article-body row-light">
        <div class="col article-inner">
            {{article.body}}
        </div>
    </div>

    {{#if attachments}}
        <div class="row padded-content--no-gap row-light d-print-none">
            <div class="col-12 heading">
                Attachments
            </div>

            {{#each attachments}}
                <div class="col-12">
                    <a href="{{url}}" target="_blank" rel="noopener" class="link">{{name}}</a>
                     - {{size}}
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if article.internal}}
        <div class="row padded-content centered-content row-dark d-print-none">
            <div class="col-12 heading">
                Was this article helpful?
            </div>

            {{article.vote "up" role="radio" class="col-3 button button--hollow" selected_class="button--active"}}
            {{article.vote "down" role="radio" class="col-3 button button--hollow" selected_class="button--active"}}

            <div class="col-12">
                {{article.vote 'label' class="subheading"}}
            </div>
        </div>
    {{/if}}

</div>
<script src="{{asset 'article-page-scripts.js'}}"></script>

<!-- FancyBox Script/Stylesheet -->
<link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.0-beta.1/dist/fancybox.css" 
    integrity="sha256-lyZXeNTN/G1YF9k06iJjYvvryj0fUtrZjyHWFS1UavQ=" 
    crossorigin="anonymous">

<script 
    src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0.0-beta.1/dist/fancybox.umd.js" 
    integrity="sha256-smBbY9PSXH8jc4Ll+Zm7lTgAEKpOijzAsbRQvTrpHos=" 
    crossorigin="anonymous">
</script>

<!-- Reel Spinner Script -->
<script src="{{asset 'jquery.reel-min.js'}}"></script>

<!-- End Article Template -->
