<!-- Start Article Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark d-print-none">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{article.title}}
            {{#if article.internal}}
                <i class="ph-lock-key-fill"></i>
            {{/if}}
        </div>

        <div class="col-12 subheading--small-italic d-print-none">
            {{#is article.created_at article.updated_at}}
                {{date article.created_at timeago=true}}
            {{else}}
                {{t 'updated'}} {{date article.updated_at timeago=true}}
            {{/is}}
        </div>
    </div>

    <div class="row padded-content row-light d-print-none">
        <a href="#" class="col-3 col-md-2 col-lg-1 button js-print-article">Print</a>

        <div class="col-3 col-md-2 col-lg-1 button">
            {{subscribe}}
        </div>
    </div>

    <div class="row article-body row-light">

        <div class="col-sm-12 col-md-3 article-sidebar d-print-none">

            <div class="js-scroll-top button">
                Scroll to Top
            </div>

            <div class="table-of-contents">
                <div class="subheading subheading--underline">
                    Table of Contents
                </div>

                <ul class="js-append-toc">
                </ul>
            </div>

            {{#if attachments}}
                <div class="article-attachments">
                    <div class="subheading subheading--underline">
                        Attachments
                    </div>

                    <ul>
                    {{#each attachments}}
                        <li>
                            <a href="{{url}}" target="_blank" rel="noopener" class="link">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            {{/if}}

        </div>

        <div class="col-sm col-md-8 article-inner">
            {{article.body}}
        </div>

    </div>

    {{#if article.internal}}
        <div class="row padded-content centered-content row-dark d-print-none">
            <div class="col-12 heading">
                Was this article helpful?
            </div>

            {{article.vote "up" role="radio" class="col-2 button button--hollow" selected_class="button--active"}}
            {{article.vote "down" role="radio" class="col-2 button button--hollow" selected_class="button--active"}}

            <div class="col-12">
                {{article.vote 'label' class="subheading"}}
            </div>
        </div>
    {{/if}}

</div>

<script src="{{asset 'article-page-scripts.js'}}"></script>
<script src="{{asset 'generate-article-sidebar.js'}}"></script>

<!-- FancyBox Script/Stylesheet -->
<link 
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA="
    crossorigin="anonymous"
>

<script
    src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"
    integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8="
    crossorigin="anonymous">
</script>

<!-- Reel Spinner Script -->
<script src="{{asset 'jquery.reel-min.js'}}"></script>

<!-- End Article Template -->
