<!-- Start Article Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container d-print-none">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row article_header">
        <div class="col-12 article_header-title">
            {{article.title}}
            {{#if article.internal}}
                <i class="ph-lock-key-fill"></i>
            {{/if}}
        </div>

        <div class="col-12 article_header-updated d-print-none">
            {{#is article.created_at article.updated_at}}
                {{date article.created_at timeago=true}}
            {{else}}
                {{t 'updated'}} {{date article.updated_at timeago=true}}
            {{/is}}
        </div>

        <a href="#" class="col-3 col-md-2 col-lg-1 article_header-button print_article d-print-none">Print</a>

        <div class="col-3 col-md-2 col-lg-1 article-unsubscribe_container d-print-none">
            {{subscribe}}
        </div>
    </div>

    <div class="row article_body">
        <div class="col">
            {{article.body}}
        </div>
    </div>

    {{#if attachments}}
        <div class="row article_attachments d-print-none">
            <div class="col-12 article_attachments-title">
                Attachments
            </div>

            {{#each attachments}}
                <div class="col-12 article_attachments-link">
                    <a href="{{url}}" target="_blank" rel="noopener">{{name}}</a>
                    <div class="article_attachments-link-meta"> - {{size}}</div>
                </div>
            {{/each}}
        </div>
    {{/if}}

</div>
<!-- End Article Template -->
