<!-- Start Category Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 subheading--large">{{category.name}}</div>

        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-dark">

        <!-- Creates top-level section template -->
        {{#each sections}} 
            <ul class="col-sm-12 col-md-6 col-lg-3 card">
                <li>
                    <a href="{{url}}" class="heading">
                        {{name}}
                    </a>
                </li>

                <!-- Creates subsection templates -->
                {{#each sections}}
                    <li>
                        <a href="{{url}}" class="subheading">
                            {{name}}
                            <i class="ph-arrow-right"></i>
                        </a>
                    </li>
                {{/each}}

                <!-- Creates article lists -->
                {{#if articles}}
                    {{#each articles}}
                        <li>
                            <a href="{{url}}" class="link">

                                {{#each labels}}

                                    {{#is identifier 'zdfilter365'}}
                                        <img class="brand-article-marker" src="{{asset '365-article-marker.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilteravanti'}}
                                        <img class="brand-article-marker" src="{{asset 'avanti-article-marker.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterlightspeed'}}
                                        <img class="brand-article-marker" src="{{asset 'lightspeed-article-marker.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterstockwell'}}
                                        <img class="brand-article-marker" src="{{asset 'stockwell-article-marker.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterairvend'}}
                                        <img class="brand-article-marker" src="{{asset 'airvend-article-marker.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterck'}}
                                        <img class="brand-article-marker" src="{{asset 'ck-article-marker.svg'}}">
                                    {{/is}}
                                    
                                {{/each}}

                                {{title}}
                                {{#if internal}}
                                    <i class="ph-lock-key-fill"></i>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}

                    {{#if more_articles}}
                        <li>
                            <a href="{{url}}" class="button">
                                {{t 'show_all_articles' count=article_count}}
                            </a>
                        </li>
                    {{/if}}
                {{/if}}
            </ul>
        {{/each}}
    </div>
</div>
<!-- End Category Template -->
