<!-- Start Category Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 subheading--large">{{category.name}}</div>

        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-dark">

        <!-- Creates top-level section template -->
        {{#each sections}} 
            <div class="col-sm-12 col-md-6 col-lg-3 card">
                <div class="card__cap">
                    <a href="{{url}}" class="card__title">
                        <div>{{name}}</div>
                        <i class="ph-caret-right-bold"></i>
                    </a>
                </div>

                <ul class="card__body">

                    <!-- Creates subsection templates -->
                    {{#each sections}}
                        <li class="sub-navigation">
                            <a href="{{url}}">
                                <div>{{name}}</div>
                                <i class="ph-caret-right"></i>
                            </a>
                        </li>
                    {{/each}}

                    <!-- Creates article lists -->
                    {{#if articles}}
                        {{#each articles}}
                            <li>
                                <a href="{{url}}">

                                    {{#each labels}}

                                        {{#is identifier 'zdfilter365'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-365.svg'}}">
                                        {{/is}}

                                        {{#is identifier 'zdfilteravanti'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-avanti.svg'}}">
                                        {{/is}}

                                        {{#is identifier 'zdfilterlightspeed'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-lightspeed.svg'}}">
                                        {{/is}}

                                        {{#is identifier 'zdfilterstockwell'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-stockwell.svg'}}">
                                        {{/is}}

                                        {{#is identifier 'zdfilterairvend'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-airvend.svg'}}">
                                        {{/is}}

                                        {{#is identifier 'zdfilterck'}}
                                            <img class="brand-article-marker" src="{{asset 'article_marker-ck.svg'}}">
                                        {{/is}}
                                        
                                    {{/each}}

                                    {{title}}
                                    {{#if internal}}
                                        <i class="ph-lock-key-fill"></i>
                                    {{/if}}
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}

                </ul>

                {{#if more_articles}}
                    <div class="card__action">
                        <a href="{{url}}" class="button button--sm">
                            {{t 'show_all_articles' count=article_count}}
                        </a>
                    </div>
                {{/if}}

            </div>
        {{/each}}
    </div>
</div>
<!-- End Category Template -->
