<section class="article-hero">
	<div class="article-hero-filter">
		<div class="hero-text-inner-hero" style="display:none;">{{category.name}}</div>
	</div>
</section>
<div class="section-page-background">
	<section class="container">
		<div class="col-md-12 section-category-box">
			<header class="section-page-header">
				<ol class="breadcrumbs section-page-breadcrumbs">{{breadcrumbs}}</ol>
				<div> {{#if category.description}}
						<p class="page-header-description">{{category.description}}</p>
					{{/if}}</div>
			</header>

			<!-- CATEGORIES CONTENT -->
			<div class="categories-background" id="content">

				<section class="categories">
					<div class="category-content container"></div>

					<section class="row section-tree">
						{{#each sections}}
							<section class="col-lg-4 col-md-6 col-xs-12 category-section-block">
								<div id="category.id {{id}}">
									<img class="sectionimg-jellybean" src="http://365retailmarkets.com/wp-content/uploads/kb_img/{{id}}.png">
								</div>
								<div class="category-header-block category-header-text">
									<a href="{{url}}">{{name}}</a>
									{{#if internal}}<i class="fas fa-lock"></i>{{/if}}
								</div>

								{{#each sections}}
									<section class="section article-list">
										<div class="article-list-item">
											<a style="font-weight: bold;" class="article-list-link" href="{{url}}">{{name}}</a>{{#if internal}}<i style="margin-left:5px;" class="fas fa-lock"></i>{{/if}}
										</div>
									</section>
								{{/each}}

								{{#if articles}}
									<ul class="article-list" id="ArticleList">
										{{#each articles}}
											<li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
												{{#if promoted}}
													<span data-title="{{t 'promoted'}}" class="icon-star"></span>
												{{/if}}
												<a href="{{url}}" class="article-list-link">{{title}}</a>{{#if internal}}<i style="margin-left:5px;" class="fas fa-lock"></i>{{/if}}
											</li>
										{{/each}}
									</ul>
									{{#if more_articles}}
										<a href="{{url}}" class="button">
											{{t 'show_all_articles' count=article_count}}
										</a>
									{{/if}}
								{{/if}}

							</section>
							{{else}}
								<i class="category-empty">
									<a href="{{category.url}}">{{t 'empty'}}</a>
								</i>
						{{/each}}

					</section>
					<section class="gutter"></section>
					<div class="section-category-search-again-message">
						<div class="section-category-search-again-message-wrapper">
							<h2>How can we help?</h2>
							<h4>Search the Help Center or <a href="https://365retailmarkets.zendesk.com/hc/en-us">browse</a> our resources. </h4>
							<div class="section-category-search-bar-container">
								<form class="search-results-search-bar" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden"
									 value="✓"><input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search the 365 Help Center"><button type="submit" name="commit"
									 class="search-results-search-bar-small-button"><i class="glyphicon glyphicon-search form-group"></i></button></form>
							</div>
						</div>
					</div>
