<!-- Start Category Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row category_header">
        <div class="col-12 category_header-title">{{category.name}}</div>
        <div class="col-12 category_header-desc">
            {{category.description}}
        </div>
    </div>

    <div class="row category_list">

        <!-- Creates top-level section template -->
        {{#each sections}} 
            <div class="col-sm-12 col-md-6 col-lg-3 category_item">
                <a href="{{url}}" class="category_item-title">
                    {{name}}
                </a>

                <!-- Creates subsection templates -->
                {{#each sections}}
                    <a href="{{url}}" class="category_item-subsection">
                        {{name}}
                        <i class="ph-arrow-right"></i>
                    </a>
                {{/each}}

                <!-- Creates article lists -->
                {{#if articles}}
                    {{#each articles}}
                        <a href="{{url}}" class="category_item-article">
                            <i class="ph-caret-right"></i>
                            {{title}}
                            {{#if internal}}
                                <i class="ph-lock-key-fill"></i>
                            {{/if}}
                        </a>
                    {{/each}}

                    {{#if more_articles}}
                        <a href="{{url}}" class="category_item-more">
                            {{t 'show_all_articles' count=article_count}}
                            <i class="ph-dots-three-bold"></i>
                        </a>
                    {{/if}}
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>
<!-- End Category Template -->
