<!-- Start Category Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12 heading">{{category.name}}</div>

        {{#if category.description}}
            <div class="col-12 subheading">
                {{category.description}}
            </div>
        {{/if}}
    </div>

    <div class="row padded-content row-dark">

        <!-- Creates top-level section template -->
        {{#each sections}} 
            <ul class="col-sm-12 col-md-6 col-lg-3 card">
                <li>
                    <a href="{{url}}" class="heading">
                        {{name}}
                    </a>
                </li>

                <!-- Creates subsection templates -->
                {{#each sections}}
                    <li>
                        <a href="{{url}}" class="subheading">
                            {{name}}
                            <i class="ph-arrow-right"></i>
                        </a>
                    </li>
                {{/each}}

                <!-- Creates article lists -->
                {{#if articles}}
                    {{#each articles}}
                        <li>
                            <a href="{{url}}" class="link">
                                {{title}}
                                {{#if internal}}
                                    <i class="ph-lock-key-fill"></i>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}

                    {{#if more_articles}}
                        <li>
                            <a href="{{url}}" class="button">
                                {{t 'show_all_articles' count=article_count}}
                            </a>
                        </li>
                    {{/if}}
                {{/if}}
            </ul>
        {{/each}}
    </div>
</div>
<!-- End Category Template -->
