<!-- Start Header Template -->
<div class="container">
    <!-- Logo and Menu Button -->
    <div class="row header">
        <a href="{{page_path 'help_center'}}" class="col-9 logo">
            <img src="{{asset '365logo_RGB_2018.svg'}}" alt="365 Retail Markets logo" width="80" height="80" title="365 Retail Markets"/>
            <span class="logo-title">HelpCenter</span>
        </a>

        <div class="col-3 menu-button d-print-none">
            <i class="ph-list"></i>
        </div>
    </div>

    <!-- Menu Area -->
    <ul class="row menu d-print-none" style="display: none;">
        {{#if signed_in}}
        <li class="col-sm-12 col-md-3 menu-item">
            <a id="dashboard_link" href="#">
                <i class="ph-info"></i>
                <div>Dashboard</div>
            </a>
        </li>

        <li class="col-sm-12 col-md-3 menu-item">
            <a href="{{page_path 'requests'}}">
                <i class="ph-article"></i>
                <div>Ticket History</div>
            </a>
        </li>

        <li class="col-sm-12 col-md-3 menu-item">
            <a href="{{page_path 'subscriptions'}}">
                <i class="ph-book-bookmark"></i>
                <div>Saved Resources</div>
            </a>
        </li>

        <li class="col-sm-12 col-md-3 menu-item">
            <a href="{{page_path 'sign_out'}}">
                <i class="ph-sign-out"></i>
                <div>Log Out</div>
            </a>
        </li>
        {{else}}
        <li class="col-sm-12 col-md-3 offset-md-6 menu-item">
            <a href="https://365retailmarkets.zendesk.com/auth/v2/login/registration?auth_origin=114094510753%2Cfalse%2Ctrue&brand_id=114094510753&return_to=https%3A%2F%2F365retailmarkets.zendesk.com&theme=hc">
                <i class="ph-user-plus"></i>
                <div>Sign Up</div>
            </a>
        </li>

        <li class="col-sm-12 col-md-3 menu-item">
            <a href="https://365retailmarkets.zendesk.com/hc/en-us/signin?return_to=https%3A%2F%2F365retailmarkets.zendesk.com">
                <i class="ph-sign-in"></i>
                <div>Log In</div>
            </a>
        </li>
        {{/if}}
    </ul>
</div>

<!-- Begin Fixed Footer Navigation -->
<div class="container d-print-none fixed-bottom">

    <div class="row nav_search" style="display: none;">
        <div class="col-12">
            <form accept-charset="UTF-8" action="/hc/en-us/search" method="get" role="search" >
                <input class="nav_search-input" id="query" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>
    </div>

    <div class="row nav_categories" style="display: none;">
        <div class="col-12 col-md-4 nav_category">
            <div class="nav_category-header">
                Hardware Categories
                <i class="ph-plus-bold"></i>
            </div>

            <div class="nav_category-item_list">
                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947034" class="nav_category-item">
                    365Beacon
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964853" class="nav_category-item">
                    AirVend
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360004440794" class="nav_category-item">
                    Dining
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946554" class="nav_category-item">
                    Legacy Kiosks
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964913" class="nav_category-item">
                    Market Security
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964433" class="nav_category-item">
                    NanoMarket
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947114" class="nav_category-item">
                    PicoPlatform
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964373" class="nav_category-item">
                    V5 Kiosks
                    <i class="ph-caret-right"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-4 nav_category">
            <div class="nav_category-header">
                Software Categories
                <i class="ph-plus-bold"></i>
            </div>

            <div class="nav_category-item_list">
                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964793" class="nav_category-item">
                    ADM
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947074" class="nav_category-item">
                    Mobile
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946914" class="nav_category-item">
                    SmartHQ
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964993" class="nav_category-item">
                    Social Feedia
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002185954" class="nav_category-item">
                    Release Notes
                    <i class="ph-caret-right"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-4 nav_category">
            <div class="nav_category-header">
                Other Categories
                <i class="ph-plus-bold"></i>
            </div>

            <div class="nav_category-item_list">
                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965073" class="nav_category-item">
                    Additional Docs
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360004802874" class="nav_category-item">
                    CK Legacy
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964893" class="nav_category-item">
                    Equipment Maintenance
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360004325294" class="nav_category-item">
                    Grand Openings
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964973" class="nav_category-item">
                    International
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002841913" class="nav_category-item">
                    Sales Material
                    <i class="ph-caret-right"></i>
                </a>

                <a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947554" class="nav_category-item">
                    Wing Cards
                    <i class="ph-caret-right"></i>
                </a>                
            </div>
        </div>
    </div>

    <div class="row nav_footer">
        <a href="{{page_path 'help_center'}}" class="col">
            <i class="ph-house"></i>
            <span class="nav_footer-text">Home</span>
        </a>

        <a href="{{page_path 'requests'}}" class="col">
            <i class="ph-article"></i>
            <span class="nav_footer-text">Tickets</span>
        </a>

        <a href="{{page_path 'new_request'}}" class="col">
            <i class="ph-rocket-launch"></i>
            <span class="nav_footer-text">New Ticket</span>
        </a>

        <a class="col nav_footer-categories_button">
            <i class="ph-sort-descending"></i>
            <span class="nav_footer-text">Categories</span>
        </a>
    </div>
</div>
<!-- End Header Template -->
