<!-- Start Header Template -->
<header class="container">
    
    <div class="row header row-light">

        <!-- Logo and Menu Button -->
        <a href="{{page_path 'help_center'}}" class="col brand">
            
            <picture class="logo">
                <source
                    srcset="{{asset 'logo-white.svg'}}"
                    media="(prefers-color-scheme: dark)">
                <img src="{{asset 'logo-color.svg'}}" alt="Three Six Five Retail Markets logo" width="80" height="80">
            </picture>

            <h2 class="title">HelpCenter</h2>
        </a>

        <form role="search" data-search="" data-instant="false" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get" class="col search-form">
            <label class="label--hidden" for="search--header">Search the Three Six Five Help Center:</label>
            <input id="search--header" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter" class="search search--small">
        </form>

        


        <button type="button" aria-controls="header-menu" class="col button--menu">
            <i class="ph-list"></i>
        </button>

    </div>

    <!-- Menu Area -->
    <nav aria-label="Main Navigation" class="row header-menu row-dark" style="display: none;">
        {{#if signed_in}}

            <a href="#" id="dashboard_link" class="col-sm-12 col-md link">
                <i class="ph-info"></i>
                <div>Dashboard</div>
            </a>

            <a href="{{page_path 'requests'}}" class="col-sm-12 col-md link">
                <i class="ph-article"></i>
                <div>Ticket History</div>
            </a>

            <a href="{{page_path 'subscriptions'}}" class="col-sm-12 col-md link">
                <i class="ph-book-bookmark"></i>
                <div>Saved Resources</div>
            </a>

            <a href="https://status.365retailmarkets.com" class="col-sm-12 col-md link">
                <i class="ph-heartbeat"></i>
                <div>System Status</div>
            </a>

            <a href="{{page_path 'sign_out'}}" class="col-sm-12 col-md link">
                <i class="ph-sign-out"></i>
                <div>Log Out</div>
            </a>
        
        {{else}}
            <a href="https://365retailmarkets.zendesk.com/auth/v2/login/registration?auth_origin=114094510753%2Ctrue%2Ctrue&brand_id=114094510753&return_to=https%3A%2F%2Fhelp.365retailmarkets.com&theme=hc" class="col-sm-12 col-md-3 offset-md-6 link">
                <i class="ph-user-plus"></i>
                <div>Sign Up</div>
            </a>

            <a href="https://help.365retailmarkets.com/hc/en-us/signin?return_to=https%3A%2F%2Fhelp.365retailmarkets.com" class="col-sm-12 col-md-3 link">
                <i class="ph-sign-in"></i>
                <div>Log In</div>
            </a>
        {{/if}}
    </nav>

    <!-- Banner Content -->
    {{#if signed_in}}
        <div class="row banner">
            <a href="https://help.365retailmarkets.com/hc/en-us/articles/360062940373" class="col-12 banner__content">
                <i class="ph-hand-waving"></i>
                <div>How to Check if Your Kiosk is Online</div>
            </a>
        </div>
    {{else}}
        <div class="row banner">
            <a href="https://www.youtube-nocookie.com/embed/RkILQJpJZS4" class="col-12 banner__content">
                <i class="ph-hand-waving"></i>
                <div>How to Use the 365 HelpCenter</div>
            </a>
        </div>
    {{/if}}

</header>
<!-- End Header Template -->
