<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFVHVPS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="section hero">
	<!-- Hero Image -->
	<div class="container hero-filter">
		<div class="row hero-inner">
			<div class="hero-text" class="col-6">Your business never closes, and neither do we.</div>

			<div>
				<form class="search" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
					<input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search the 365 Help Center" autocomplete="off" aria-label="Search the 365 Help Center">
					<button type="submit" name="commit" class="search-button button">Search</button>
				</form>

				<form class="search-small-hero" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
					<input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search">
					<button type="submit" name="commit" class="search-small-button-hero button">
						<i class="glyphicon glyphicon-search form-group"></i>
					</button>
				</form>
			</div>

		</div>
	</div>
</section> <!-- Hero Image End -->

<!-- New Accordion-->
<section class="homepage-segment-1-background">
	<div class="homepage-segment-1 container">

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002185954-Release-Notes"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-ReleaseNotes.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001999293-New-Updated-Articles-"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Updates.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946554"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Legacy.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964373"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-v5.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964433"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-NanoMarket.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946854"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-ReadyTouch.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964853"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-AirVend.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947074"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Mobile.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="#"><button class="contact-accordion" style="background-image: url({{asset 'KB_Home-PicoMarket_HOLD.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964913"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-CameraSec.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964973"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Intl.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964993"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-SocialFeedia.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964893"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Maintenance.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946914"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-SHQ.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964793"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-ADM.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947554"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-WingCards.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965073"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Additional.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

		<div class="col-md-3 contact-accordion-container">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002841913-Sales-Marketing-Material"><button class="contact-accordion"
				 style="background-image: url({{asset 'KB_Home-Marketing.png'}}); background-position: center; background-size: contain; background-repeat: no-repeat;"></button></a>
		</div>

	</div>


	<!-- Promotional -->
	<div class="col-lg-12 col-xs-12 promoted_articles home-page-promo">
		<div class="container home-page-promo-featured">
			<div class="col-lg-6">
				<div class="videoWrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/EKUGqclnUvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
			</div>

			<div class="col-lg-6">
				<h4 class="card-title first-card">365Pay’s NEW Audio-Accessibility Feature</h4>
				<div class="announcements">We’re proud to announce that it’s the official MicroMarket app for the visually impaired! 365Pay is the first mobile payment app in foodservice convenience industry to offer auto-accessibility.
					Checking out and managing accounts is now possible for individuals who are visually impaired. The built-in accessibility tools provide users with a swipe and touch-based app that reads what they click on out loud.</div>
				<a class="button floatRight" href="https://365retailmarkets.com/how-365pays-new-audio-accessibility-feature-makes-checking-out-possible-for-visually-impaired/" target="_blank">Read More &nbsp;<i
					 class="fas fa-external-link-alt"></i></a>
			</div>
		</div>
	</div>
	</div>

	<!-- Featured Articles -->
	<section class="gutter">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<section class="featured-articles">
						<div class="row">

							<div class="col promoted_articles">
								<div class="featured-article-header-block">
									<center>
										<h2 class="homepage-segment-title">NEW ARTICLES</h2>
									</center>
								</div>
							</div>

							<!-- <ul class="article-list promoted-articles">
								<li class="promoted-articles-item">
									<a href=""></a>
									<div class="section-excerpt">
										<span class="section-timestamp"></span><br>
										<a class="featured-article-cta" href="">Read More</a>
									</div>
								</li>
							</ul> -->

							<ul class="new-articles">
								<li class="new-articles-item">
									<div class="newarticles_title"></div>
									<div class="newarticles_published"></div>
									<div class="newarticles_body"></div>
									<div class="newarticles_cta"><a href="#">Read It Here</a></div>
								</li>

								<li class="new-articles-item">
									<div class="newarticles_title"></div>
									<div class="newarticles_published"></div>
									<div class="newarticles_cta"><a href="#">Read It Here</a></div>
								</li>

								<li class="new-articles-item">
									<div class="newarticles_title"></div>
									<div class="newarticles_published"></div>
									<div class="newarticles_cta"><a href="#">Read It Here</a></div>
								</li>

								<li class="new-articles-item">
									<div class="newarticles_title"></div>
									<div class="newarticles_published"></div>
									<div class="newarticles_cta"><a href="#">Read It Here</a></div>
								</li>

								<li class="new-articles-item">
									<div class="newarticles_title"></div>
									<div class="newarticles_published"></div>
									<div class="newarticles_cta"><a href="#">Read It Here</a></div>
								</li>
							</ul>

							<center>
								<a class="button" href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001999293-New-Updated-Articles-">See Recent Updates</a>
							</center>
						</div>
					</section>
				</div>



				<!-- Twitter Feed -->
				<div class="col-md-6 col-xs-12 promoted_articles kb-block-border">
					<h2 class="homepage-segment-title">COMMUNITY</h2>
					<div class="twitter-feed-desktop">
						<a class="twitter-timeline twitter-feed" href="https://twitter.com/365retailmarket?ref_src=twsrc%5Etfw" data-tweet-limit="1" data-chrome="noscrollbar" data-width="60%" data-height="50%">Recent Tweets by 365retailmarket</a>
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>

					<div class="twitter-feed-mobile"><a class="twitter-timeline" href="https://twitter.com/365retailmarket?ref_src=twsrc%5Etfw" data-tweet-limit="1" data-width="80%" data-height="60%">Recent Tweets from 365</a>
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
					<div class="row twitter-feed"></div>

					<div class="col-sm-12 col-md-12 col-lg-12 twitter-feed">
						<center>
							<div>
								<div>
									<h4 class="card-title">Join the conversation!</h4>
									<div class="card-text">
										<div class="row twitter-feed">
											<p style="text-align: center;"><span style="font-size:16px;"><span style="color:#22212d;">
												<a href="https://www.facebook.com/365RetailMarkets" target="_blank">
													<img border="0" height="35" src="http://go.365retailmarkets.com/l/50442/2018-04-06/9jr92w/50442/195776/soicalmediaicons_FB.png" width="35">
												</a>&nbsp;
												<a href="https://twitter.com/365retailmarket" target="_blank" class="twitter">
													<img border="0" height="35" src="http://go.365retailmarkets.com/l/50442/2018-04-06/9jr9xr/50442/195778/soicalmediaicons_TWEET.png" width="35" class="twitter">
												</a>
												<a href="https://www.linkedin.com/company/365-retail-markets" target="_blank">
													<img border="0" height="35" src="http://go.365retailmarkets.com/l/50442/2018-04-06/9jrb87/50442/195782/soicalmediaicons_IN.png" width="35">
												</a>&nbsp;
												<a href="https://www.instagram.com/365retailmarkets/" target="_blank">
													<img border="0" height="35" src="http://go.365retailmarkets.com/l/50442/2018-04-06/9jrbff/50442/195790/soicalmediaicons_INSTA.png" width="35">
												</a>&nbsp;
												<a href="https://www.youtube.com/365retailmarkets" target="_blank">
													<img border="0" height="35" id="_x0000_i1033" src="http://go.365retailmarkets.com/l/50442/2018-04-06/9jrbfk/50442/195792/soicalmediaicons_GOOGLE.png" width="35">
												</a><br>
											</p>
										</div>
									</div>
								</div> <!-- end CARD-BLOCK -->
							</div> <!-- end CARD -->
						</center>
					</div>
				</div>
	</section>

	<!-- Start of Zendesk Widget script
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=web_widget/365implementation.zendesk.com"></script>
	 End of Zendesk Widget script -->

	<section class="gutter">

		<!-- Contact Us -->

		<div class="container-fluid support-toolbox-container" style="display:none;">
			<div class="row support-toolbox-container-filter">
				<div class="col-lg-8 support-toolbox-container-left">
					<div class="col-lg-7 col-md-7 col-sm-12 support-toolbox-container-left">
						<p class="hero-text-tagline midbanner">Live Support 24/7, 365.</p>
					</div>
					<div style="display:none;" class="triangle-right"></div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-12 support-toolbox-dark-banner">
					<div class="col-md-10 dark-banner-inner-containter">
						<h2>
							<div id="support-toolbox">Submit and Track Support Tickets Online</div>
						</h2>
						<div class="row">
							<center>
								<div class="col-lg-12 col-sm-3"><a class="button" href="">View Your Dashboard</a></div>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
