<!-- Start Request View Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <!-- Ticket Header/Subject and Closed Notification -->
    {{#if comment_callout}}
        <div class="row">
            <div class="col-12 banner-callout banner-callout__warning">
                <div>{{comment_callout}}</div>
            </div>
        </div>
    {{/if}}

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{request.subject}}
        </div>
        <div class="col-12">
            {{satisfaction}}
        </div>
    </div>

    <!-- Commenter Info -->
    {{#each comments}}
        <div class="row padded-content--no-gap row-dark">
        
            <div class="col-1">
                <img src="{{author.avatar_url}}" alt="User avatar"/>
            </div>

            <div class="col-11">
                <a href="{{link 'user_profile'}}" class="subheading">{{author.name}}</a>
                {{#if author.agent}}
                    <div class="">365 Support</div>
                {{/if}}
                <div class="subheading--small-italic">{{date created_at timeago=true}}</div>
            </div>

        </div>

        <!-- Ticket Content -->
        <div class="row padded-content row-light">
            <div class="col-12">
                {{body}}
            </div>

            {{#if attachments}}
                <div class="col-12 subheading--underline">Attachments:</div>
                {{#each attachments}}
                    <div class="col-12">
                        <a class="link" href="{{url}}" target="_blank">{{name}}</a>
                        <div class="subheading--small-italic">{{size}}</div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}

</div>

<!-- In-ticket reply area -->
{{#form 'comment' class='container request-container'}}

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{t 'add_to_conversation'}}
        </div>
    </div>

    <div class="row padded-content row-light">
        {{#if help_center.request_ccs_enabled}}
            <div class="col-12 request-page__add-cc">
                {{token_field 'ccs'}}
            </div>
        {{/if}}
    </div>

    <div class="row padded-content row-light comment-container">
        <div class="col-12">
            {{textarea 'body' rows='7'}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12">
            {{#if upload}}
                {{upload}}
            {{/if}}
        </div>
    </div>

    <div class="row padded-content row-light">

        <div class="col-3 col-sm-12">
            {{checkbox 'mark_as_solved'}}

            {{#if request.can_be_marked_as_solved}}
                <button
                    type="button"
                    class="mark-as-solved button" 
                    data-solve-translation="{{t 'mark_as_solved'}}" 
                    data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}"
                >
                    {{t 'mark_as_solved'}}
                </button>
            {{/if}}
        </div>
        
        <div class="col-3 col-sm-12">
            <div>
                {{input type='submit' class="button {{#validate 'body'}}button--inactive{{/validate}}"}}
            </div>
        </div>
    </div>
{{/form}}

<!-- Ticket details -->
<div class="container">
    <div class="row padded-content row-dark">
        <div class="col-12 heading">
            {{t 'ticket_details'}}
        </div>
    </div>

    {{#if request.followup_source_id}}
        <div class="row padded-content row-dark">
            <dl class="col-12">
                <dt>{{t 'followup'}}</dt>
                <dd>{{link 'request' id=request.followup_source_id}}</dd>
            </dl>
        </div>
    {{/if}}

    <div class="row padded-content row-light table-responsive">
        <table class="col-12 table table-striped">
            <tr>
                <td>{{t 'requester'}}: {{request.requester.name}}</td>
            </tr>

            <tr>
                <td>{{t 'created'}}: {{date request.created_at}}</td>
            </tr>

            <tr>
                <td>{{t 'last_activity'}}: {{date request.updated_at}}</td>
            </tr>
            <!-- A "collaborator" is someone who is CC'd on the ticket -->
            {{#if collaborators}}
                <tr>
                    <td>
                        {{t 'ccs'}}:
                        {{#each collaborators}}
                            {{name}}
                        {{/each}}
                    </td>
                </tr>
            {{/if}}

            {{#if assignee}}
                <tr>
                    <td>{{t 'assignee'}}: {{assignee.name}}</td>
                </tr>    
            {{/if}}

            <tr>
                <td>{{t 'id'}}: #{{request.id}}</td>
            </tr>

            {{#form 'organization' id='request-organization'}}
                <tr>
                    <td>{{t 'organization'}}: {{select 'organization'}}</td>
                </tr>
            {{/form}}

            {{#if group}}
                <tr>
                    <td>{{t 'group'}}: {{group.name}}</td>
                </tr>
            {{/if}}

            <tr>
                <td>{{t 'status'}}: {{request.status_name}}</td>
            </tr>

            {{#if request.type}}
                <tr>
                    <td>
                        {{t 'type'}}: {{request.type_name}}

                        {{#is request.type 'task'}}
                            {{t 'task_due_date' due_date=request.due_date}}
                        {{/is}}
                    </td>
                </tr>
            {{/if}}

            {{#if request.priority}}
                <tr>
                    <td>{{t 'priority'}}: {{request.priority_name}}</td>
                </tr>
            {{/if}}

            {{#each custom_fields}}
                <tr>
                    <td>{{title}}: {{value}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script src="{{asset 'request-scripts.js'}}"></script>
