<!-- Start Request View Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <!-- Ticket Header/Subject and Closed Notification -->
    {{#if comment_callout}}
        <div class="row padded-content row-warning">
            <div class="col-12">
                <div><i class="ph-warning"></i> {{comment_callout}}</div>
            </div>
        </div>
    {{/if}}

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{request.subject}}
        </div>
        <div class="col-12">
            {{satisfaction}}
        </div>
    </div>

    <!-- Commenter Info -->
    {{#each comments}}
        <div class="row padded-content row-dark">
        
            <div class="col-3 col-sm-2 col-md-2">
                <img src="{{author.avatar_url}}" alt="User avatar"/>
            </div>

            <div class="col-9 col-sm-10 col-md-10">
                <a href="{{link 'user_profile'}}" class="subheading">{{author.name}}</a>
                {{#if author.agent}}
                    <div class="">365 Support</div>
                {{/if}}
                <div class="subheading--small-italic">{{date created_at timeago=true}}</div>
            </div>
        </div>

        <!-- Ticket Content -->
        <div class="row padded-content row-light">
            <div class="col-12">
                {{body}}
            </div>

            {{#if attachments}}
            <div class="col-12 subheading--underline">Attachments:</div>
                {{#each attachments}}
                    <div class="col-12">
                        <a class="link" href="{{url}}" target="_blank">{{name}}</a>
                        <div class="subheading--small-italic">{{size}}</div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}

</div>

<!-- In-ticket reply area -->
{{#form 'comment' class='container request-container'}}

    <div class="row padded-content--no-gap row-light">
        <div class="col-12 heading">
            {{t 'add_to_conversation'}}
        </div>
    </div>

    <div class="row padded-content row-dark">
        {{#if help_center.request_ccs_enabled}}
            <div class="col-12 request-page__add-cc">
                {{token_field 'ccs'}}
            </div>
        {{/if}}
    </div>

    <div class="row padded-content row-light comment-container">
        <div class="col-12">
            {{textarea 'body' rows='7'}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12">
            {{#if upload}}
                {{upload}}
            {{/if}}
        </div>
    </div>

    <div class="row padded-content row-light">

        <div class="col-3 col-sm-12">
            {{#if request.can_be_marked_as_solved}}

                {{checkbox 'mark_as_solved'}}

                <div 
                    class="mark-as-solved" 
                    data-solve-translation="{{t 'mark_as_solved'}}" 
                    data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}"
                >
                    {{t 'mark_as_solved'}}
                </div>

            {{/if}}
        </div>
        
        <div class="col-3 col-sm-12">
            <div>
                {{input type='submit' class="button {{#validate 'body'}}button--inactive{{/validate}}"}}
            </div>
        </div>
    </div>
{{/form}}

<!-- Ticket details -->
<div class="container">
    <div class="row padded-content row-dark">
        <div class="col-12 heading">
            {{t 'ticket_details'}}
        </div>
    </div>

    {{#if request.followup_source_id}}
        <div class="row padded-content row-dark">
            <dl class="col-12">
                <dt>{{t 'followup'}}</dt>
                <dd>{{link 'request' id=request.followup_source_id}}</dd>
            </dl>
        </div>
    {{/if}}

    <div class="row padded-content row-dark">
        <dl class="col-12">
            <dt class="subheading">{{t 'requester'}}</dt>
            <dd>{{request.requester.name}}</dd>

            <dt class="subheading">{{t 'created'}}</dt>
            <dd>{{date request.created_at}}</dd>

            <dt class="subheading">{{t 'last_activity'}}</dt>
            <dd>{{date request.updated_at}}</dd>

            <!-- A "collaborator" is someone who is CC'd on the ticket -->
            {{#if collaborators}}
                <dt class="subheading">{{t 'ccs'}}</dt>
                <dd>
                    <ul class="request-collaborators">
                        {{#each collaborators}}
                            <li title={{name}}>{{name}}</li>
                        {{/each}}
                    </ul>
                </dd>
            {{/if}}
        </dl>

        <dl class="col-12">
            {{#if assignee}}
                <dt class="subheading">{{t 'assignee'}}</dt>
                <dd>
                    {{assignee.name}}
                </dd>
            {{/if}}

            <dt class="subheading">{{t 'id'}}</dt>
            <dd>#{{request.id}}</dd>

            {{#form 'organization' id='request-organization'}}
                <dt class="subheading">{{t 'organization'}}</dt>
                <dd>{{select 'organization'}}</dd>
            {{/form}}

            {{#if group}}
                <dt class="subheading">{{t 'group'}}</dt>
                <dd>
                    {{group.name}}
                </dd>
            {{/if}}

            <dt class="subheading">{{t 'status'}}</dt>
            <dd>
                {{request.status_name}}
            </dd>

            {{#if request.type}}
                <dt class="subheading">{{t 'type'}}</dt>
                <dd>
                    {{request.type_name}}
                    {{#is request.type 'task'}}
                        {{t 'task_due_date' due_date=request.due_date}}
                    {{/is}}
                </dd>
            {{/if}}

            {{#if request.priority}}
                <dt class="subheading">{{t 'priority'}}</dt>
                <dd>
                    {{request.priority_name}}
                </dd>
            {{/if}}

            {{#each custom_fields}}
                <dt class="subheading">{{title}}</dt>
                <dd>
                    {{value}}
                </dd>
            {{/each}}
        </dl>
    </div>
</div>
