<!-- Start Request List Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <!-- Tickets/CC Link -->
    <div class="row tickets_cc">
        <div class="col-12">
            <a class="tickets_cc-button" href="/hc/en-us/requests">My Tickets</a>
            <a class="tickets_cc-button" href="/hc/en-us/requests/ccd">CC'd Tickets</a>

            <div class="request-table-filter">
                {{label 'organization' for='request-organization-select' class='request-filter request-filter-label'}}
                {{select 'organization' id='request-organization-select' class='request-filter'}}
            </div>

        </div>
    </div>

    <!-- Ticket Search/Filter -->
    <div class="row tickets_filter">
        <div class="col-12">
            {{#form 'requests_filter'}}
                <div class="requests_filter-search">
					<input type="search" name="query" id="quick-search" value="" placeholder="Search tickets" aria-required="false">
				</div>

				<div class="request_filter-status">
					{{label 'status' for='request-status-select' class='request-filter request-filter-label'}}
					{{select 'status' id='request-status-select' class='request-filter'}}
				</div>
            {{/form}}
        </div>
    </div>

    <!-- Shows search results info/lack of tickets -->
    <div class="row tickets_meta">
        {{#if query}}
            <div class="col-12 tickets_meta-results">
                {{t 'requests_search_results_info' count=requests.length query=query}}
            </div>
        {{else}}
            {{#unless requests}}
                <div class="tickets_meta-none">
                    {{t 'no_requests'}}
                </div>
            {{/unless}}
        {{/if}}
    </div>

    {{#if requests}}
        <div class="row tickets_headers">

            <div class="col-6 col-sm-4 col-md-4 tickets_list-subject_header">
                {{t 'subject'}}
            </div>

            <div class="col-3 col-sm-2 col-md-2 tickets_list-id_header">
                {{t 'id'}}
            </div>

            <div class="col-sm-2 col-md-2 tickets_list-created_header">
                {{#is current_filter.identifier 'my'}}
                    {{#link 'requests' sort_by='created_at'}}
                        {{t 'created'}}
                    {{/link}}
                {{else}}
                    {{t 'requester'}}
                {{/is}}
            </div>

            <div class="col-sm-2 col-md-2 tickets_list-activity_header">
                {{#link 'requests' sort_by='updated_at'}}
                    {{t 'last_activity'}}
                {{/link}}
            </div>

            <div class="col-3 col-sm-2 col-md-2 tickets_list-status_header">
                {{t 'status'}}
            </div>

        </div>

        {{#each requests}}
        <div class="row tickets_list">

            <div class="col-6 col-sm-4 col-md-4 tickets_list-subject_content">
                <a href="{{url}}">
                    {{#if subject}}
                        {{subject}}
                    {{else}}
                        {{excerpt description characters=50}}
                    {{/if}}
                </a>
            </div>

            <div class="col-3 col-sm-2 col-md-2 tickets_list-id_content">
                #{{id}}
            </div>

            <div class="col-sm-2 col-md-2 tickets_list-created_content">
                {{#is ../current_filter.identifier 'my'}}
                    {{date created_at timeago=true}}
                {{else}}
                    {{requester.name}}
                {{/is}}
            </div>

            <div class="col-sm-2 col-md-2 tickets_list-activity_content">
                {{date updated_at timeago=true}}
            </div>

            <div class="col-3 col-sm-2 col-md-2 tickets_list-status_content">
                {{status_name}}
            </div>
        </div>
        {{/each}}
    {{/if}}

    <div class="row pagination_container">
        <div class="col-12 col-sm-6">
            {{pagination}}
        </div>
    </div>
</div>
