<!-- Start Request List Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <!-- Tickets/CC Link -->
    <div class="row padded-content row-light">
        <a class="col-sm-12 col-md-3 button" href="/hc/en-us/requests">My Tickets</a>
        <a class="col-sm-12 col-md-3 button" href="/hc/en-us/requests/ccd">CC'd Tickets</a>
        <a class="col-sm-12 col-md-3 button" href="/hc/en-us/requests/organization">Organization Requests</a>
    </div>

    <!-- Ticket Search/Filter -->
    {{#form 'requests_filter' class="row padded-content row-dark"}}

        <label class="col-12 label--hidden" for="ticket-search">Search through your support tickets:</label>
        <input type="search" name="query" id="ticket-search" value="" placeholder="&#8981; Search tickets" aria-required="false" class="col-12 search search--small">

        {{label 'status' for='request-status-select' class='col-1'}}
        {{select 'status' id='request-status-select' class='col-3'}}

        {{#if help_center.multiple_organizations_enabled}}

            {{label 'organization' for='request-organization-select' class='col-1'}}
            {{select 'organization' id='request-organization-select' class='col-3'}}

            {{subscribe class="col-3 button"}}

        {{/if}}

    {{/form}}

    <!-- Shows search results info/lack of tickets -->
    <div class="row padded-content--no-gap row-light">
        {{#if query}}
            <div class="col-12 subheading--underline">
                {{t 'requests_search_results_info' count=requests.length query=query}}
            </div>
        {{else}}
            {{#unless requests}}
                <div class="col-12 subheading--underline">
                    {{t 'no_requests'}}
                </div>
            {{/unless}}
        {{/if}}
    </div>

    {{#if requests}}

        <div class="row table-responsive">
            <table class="col-12 row-light table table-striped">

                <thead>
                    <tr>
                        <th>
                            {{t 'subject'}}
                        </th>

                        <th>
                            {{t 'id'}}
                        </th>

                        <th>
                            {{#is current_filter.identifier 'my'}}
                                {{#link 'requests' sort_by='created_at'}}
                                    {{t 'created'}}
                                {{/link}}
                            {{else}}
                                {{t 'requester'}}
                            {{/is}}
                        </th>

                        <th>
                            {{#link 'requests' sort_by='updated_at'}}
                                {{t 'last_activity'}}
                            {{/link}}
                        </th>

                        <th>
                            {{t 'status'}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {{#each requests}}
                        <tr>
                            <td>
                                <a href="{{url}}">
                                    {{#if subject}}
                                        {{subject}}
                                    {{else}}
                                        {{excerpt description characters=50}}
                                    {{/if}}
                                </a>
                            </td>

                            <td>
                                #{{id}}
                            </td>

                            <td>
                                {{#is ../current_filter.identifier 'my'}}
                                    {{date created_at timeago=true}}
                                {{else}}
                                    {{requester.name}}
                                {{/is}}
                            </td>
    
                            <td>
                                {{date updated_at timeago=true}}
                            </td>

                            <td>
                                {{status_name}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    {{/if}}

    <div class="row padded-content centered-content row-light">
        <div class="col-12 col-sm-6">
            {{pagination}}
        </div>
    </div>
    
</div>
