<!-- Start Request View Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <!-- Ticket Header/Subject and Closed Notification -->
    <div class="row">
        {{#if comment_callout}}
            <div class="col-12 request_followup">
                <i class="ph-warning"></i>
                <div>{{comment_callout}}</div>
            </div>
		{{/if}}
    </div>

    <div class="row request_subject">
        <div class="col-12">
            {{request.subject}}
        </div>
        <div class="col-12">
            {{satisfaction}}
        </div>
    </div>

    <!-- Commenter Info -->
    {{#each comments}}
        <div class="row request_header">
        
            <div class="col-3 col-sm-2 col-md-2 request_header-author_image">
                <img src="{{author.avatar_url}}" alt="User avatar"/>
            </div>

            <div class="col-9 col-sm-10 col-md-10 request_header-author_info">
                <a href="{{link 'user_profile'}}">{{author.name}}</a>
                {{#if author.agent}}
                    <div class="request_header-author_title">365 Support</div>
                {{/if}}
                <div class="request_header-author_date">{{date created_at timeago=true}}</div>
            </div>
        </div>

        <!-- Ticket Content -->
        <div class="row request_body">
            <div class="col-12 request_body-content">
                {{body}}
            </div>

            {{#if attachments}}
            <div class="col-12 request_body-attachments_title">Attachments:</div>
                {{#each attachments}}
                    <div class="col-3 request_body-attachments">
                        <div class="request_body-attachment_item">
                            <a class="request_body-attachment_item-name" href="{{url}}" target="_blank">{{name}}</a>
                            <div class="request_body-attachment_item-size">{{size}}</div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}


</div>

<!-- In-ticket reply area -->
{{#form 'comment' class='container ticket_reply'}}
    <div class="row">
        <div class="col-12 ticket_reply-title">
            {{t 'add_to_conversation'}}
        </div>
    </div>

    <div class="row">
        {{#if help_center.request_ccs_enabled}}
            <div class="col-12 ticket_reply-emailcc">
                {{token_field 'ccs' class='ticket_reply-emailcc_input'}}
            </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="col-12 ticket_reply-text_input">
            {{textarea 'body' rows='7'}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 ticket_reply-attachments">
            {{#if upload}}
                {{upload}}
            {{/if}}
        </div>
    </div>

    <div class="row ticket_reply-controls">
        <div class="col-3 col-sm-12">
            {{checkbox 'mark_as_solved'}}

            {{#if request.can_be_marked_as_solved}}
                <a class="ticket_reply-controls_mas mark-as-solved" data-solve-translation="{{t 'mark_as_solved'}}" data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}">
                    {{t 'mark_as_solved'}}
                </a>
            {{/if}}
        </div>
        
        <div class="col-3 col-sm-12">
            <div class="ticket_reply-controls_submit {{#validate 'body'}}hide{{/validate}}">
                {{input type='submit'}}
            </div>
        </div>
    </div>
{{/form}}

<!-- Ticket details -->
<div class="container ticket_details">
    <div class="row">
        <div class="col-12 ticket_details-title">
            {{t 'ticket_details'}}
        </div>
    </div>

    {{#if request.followup_source_id}}
        <div class="row">
            <dl class="col-12 ticket_details-content">
                <dt>{{t 'followup'}}</dt>
                <dd>{{link 'request' id=request.followup_source_id}}</dd>
            </dl>
        </div>
    {{/if}}

    <div class="row">
        <dl class="col-12 ticket_details-content">
            <dt>{{t 'requester'}}</dt>
            <dd>{{request.requester.name}}</dd>

            <dt>{{t 'created'}}</dt>
            <dd>{{date request.created_at}}</dd>

            <dt>{{t 'last_activity'}}</dt>
            <dd>{{date request.updated_at}}</dd>

            <!-- A "collaborator" is someone who is CC'd on the ticket -->
            {{#if collaborators}}
                <dt>{{t 'ccs'}}</dt>
                <dd>
                    <ul class="request-collaborators">
                        {{#each collaborators}}
                            <li title={{name}}>{{name}}</li>
                        {{/each}}
                    </ul>
                </dd>
            {{/if}}
        </dl>
    </div>

    <!-- Maybe this part is for agents? -->
    <div class="row">
        <dl class="col-12 ticket_details-content">
            {{#if assignee}}
                <dt>{{t 'assignee'}}</dt>
                <dd>
                    {{assignee.name}}
                </dd>
            {{/if}}

            <dt>{{t 'id'}}</dt>
            <dd>#{{request.id}}</dd>

            {{#form 'organization' id='request-organization'}}
                <dt>{{t 'organization'}}</dt>
                <dd>{{select 'organization'}}</dd>
            {{/form}}

            {{#if group}}
                <dt>{{t 'group'}}</dt>
                <dd>
                    {{group.name}}
                </dd>
            {{/if}}

            <dt>{{t 'status'}}</dt>
            <dd>
                {{request.status_name}}
            </dd>

            {{#if request.type}}
                <dt>{{t 'type'}}</dt>
                <dd>
                    {{request.type_name}}
                    {{#is request.type 'task'}}
                        {{t 'task_due_date' due_date=request.due_date}}
                    {{/is}}
                </dd>
            {{/if}}

            {{#if request.priority}}
                <dt>{{t 'priority'}}</dt>
                <dd>
                    {{request.priority_name}}
                </dd>
            {{/if}}

            {{#each custom_fields}}
                <dt>{{title}}</dt>
                <dd>
                    {{value}}
                </dd>
            {{/each}}
        </dl>
    </div>
</div>
