<!-- Start Search Results Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row search_results-container">
        <div class="col-12 search_results-header">
            <div class="search_results-header_count">
                {{t 'results' query=query count=results_count}}
            </div>

            <form class="search_results-header_searchbar" role="search" data-search="" data-instant="true"
                autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input class="search" id="query" name="query" type="search"
                    placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>
    </div>

    <div class="row search_filters-container">

        <!-- I don't think this block will show up -->
        <div class="col-12 search_filters-sources">
            {{#if source_filters}}
                <ul>
                    {{#each source_filters}}
                        <li>
                            {{#if selected}}
                                <a href="{{url}}">
                            {{else}}
                                <a href="{{url}}">
                            {{/if}}
                            <span class="search_filter-name">{{name}}</span>
                            <span class="search_filter-count">({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="col-12 search_filters-types">
            {{#if type_filters}}
                <div class="search_filters-label">Filter results:</div>
                <ul>
                    {{#each type_filters}}
                        <li>
                            {{#if selected}}
                                <a class="type_filter_option type_filter_selected" href="{{url}}">
                            {{else}}
                                <a class="type_filter_option" href="{{url}}">
                            {{/if}}

                            <span class="search_filter-name">{{name}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="col-12 search_filters-subfilters">
            {{#if subfilters}}
                <ul>
                    {{#each subfilters}}
                        <li>
                            {{#if selected}}
                                <a href="{{url}}" class="type_filter_option type_filter_selected" aria-current="page">
                            {{else}}
                                <a href="{{url}}" class="type_filter_option">
                            {{/if}}
                            <span class="sidenav-subitem filter-name">{{name}}</span>
                            <span class="sidenav-subitem doc-count">({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

    </div>

    <div class="row search_results-results">
        {{#if results}}
            <ul class="col-12 search_results-results_list">
                {{#each results}}
                    <li class="search_results-result_item">
                        <a href="{{url}}" class="search_results-result_item-title">{{title}}</a>
                        <div class="search_results-result_item-desc">{{text}}</div>

                        <div class="search_results-result_item-time">Updated {{date edited_at timeago=true}}</div>
                        {{#each path_steps}}
                            <div class="search_results-result_item-path" title="{{name}}"><a href="{{url}}">{{name}}</a>
                            </div>
                        {{/each}}

                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="row pagination_container">
        <div class="col-12">
            {{pagination}}
        </div>
    </div>
</div>
