<!-- Start Search Results Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 subheading--large">
            {{#if results}}

                {{#is current_filter.identifier 'unified'}}
                    {{#if content_tag_filters }}
                        {{#each (filter content_tag_filters on="selected" equals=true)}}
                            {{t 'results_content_tag' content_tag=name count=../results_count}}
                        {{/each}}
                    {{else}}
                        {{t 'results' query=query count=results_count}}
                    {{/if}}
                {{else}}
                    {{#if content_tag_filters }}
                        {{#each (filter content_tag_filters on="selected" equals=true)}}
                            {{t 'results_content_tag' content_tag=name count=../results_count}}
                        {{/each}}
                    {{else}}
                        {{#unless current_subfilter.identifier}}
                            {{t 'results' query=query count=results_count}}
                        {{else}}
                            {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
                        {{/unless}}
                    {{/if}}
                {{/is}}

            {{/if}}
        </div>

        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row row-light pt-md">

        <div class="col-sm-12 col-md-3 search-sidebar padded-content">

            <div class="subheading">Filter by:</div>

            {{#if source_filters}}
                <ul class="search-filters">

                    {{#each source_filters}}
                        <li class="button">
                            {{#if selected}}
                                <a href="{{url}}">
                            {{else}}
                                <a href="{{url}}">
                            {{/if}}
                            <span>{{name}}</span>
                            <span>({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                    
                </ul>
            {{/if}}

            {{#if type_filters}}
                <ul class="source-filters">

                    {{#each type_filters}}
                        <li>
                        {{#if selected}}
                            <a href="{{url}}" class="button button--sm button--active">
                        {{else}}
                            <a href="{{url}}" class="button button--sm button--inactive">
                        {{/if}}

                                {{#is name "Articles"}}
                                    <span class="js-article-filter">{{name}}</span>
                                {{else}}
                                    <span>{{name}}</span>
                                {{/is}}
                            </a>
                        </li>
                    {{/each}}

                </ul>
            {{/if}}

            {{#if subfilters}}
                <ul class="search-filters">

                    {{#each subfilters}}
                        <li>
                            {{#if selected}}
                                <a href="{{url}}" aria-current="page" class="button button--xs button--active">
                            {{else}}
                                <a href="{{url}}" class="button button--xs button--inactive">
                            {{/if}}
                                <span>{{name}}</span>
                                <span>({{count}})</span>
                            </a>
                        </li>
                    {{/each}}

                </ul>
            {{/if}}

            {{#if content_tag_filters}}
                <div class="col-12">
                    <div>
                        <div class="subheading">Related to:</div>

                        <ul class="search-filters">

                            {{#each content_tag_filters}}

                                {{#if selected}}
                                    <li>
                                        <a href="{{url}}" class="button button--sm">
                                            <i class="ph ph-x"></i>
                                            <span>{{name}}</span>
                                        </a>
                                    </li>
                                {{/if}}

                            {{/each}}

                        </ul>
                    </div>
                </div>
            {{/if}}

        </div>

        {{#if results}}
            <ul class="col-sm col-md-8 search-results-container">

                {{#each results}}
                    <li class="search-result">
                        <a href="{{url}}" class="subheading">{{title}}</a>
                        <div>{{text}}</div>

                        <div class="subheading--small-italic">Updated {{date edited_at timeago=true}}</div>

                        <div class="breadcrumbs-container">
                            <ol class="breadcrumbs breadcrumbs--search-results">
                                {{#each path_steps}}
                                    <li title="{{name}}">
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>

                    </li>
                {{/each}}

                <div class="col-12 col-sm-6">
                    {{pagination}}
                </div>

            </ul>
        {{/if}}
        
    </div>

</div>

<!-- Change "Articles" filter button text to "By Category" to make the action clearer -->
<script>
    document.querySelector( '.js-article-filter' ).innerHTML = 'By Category';
</script>
