<!-- Start Request List Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

	<div class="row search_results-container">
		<div class="col-12 search_results-header">
			<div class="search_results-header_count">
                {{t 'results' query=query count=results_count}}
            </div>

			<form class="search_results-header_searchbar" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input class="search" id="query" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter">
            </form>
		</div>
    </div>

    <div class="row search_results-results">
        {{#if results}}
            <ul class="col-12 search_results-results_list">
                {{#each results}}
                    <li class="search_results-result_item">
                        <a href="{{url}}" class="search_results-result_item-title">{{title}}</a>
                        <div class="search_results-result_item-desc">{{text}}</div>

                        <div class="search_results-result_item-time">Updated {{date edited_at timeago=true}}</div>
                        {{#each path_steps}}
                            <div class="search_results-result_item-path" title="{{name}}"><a href="{{url}}">{{name}}</a></div>
                        {{/each}}

                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="row pagination_container">
        <div class="col-12">
            {{pagination}}
        </div>
    </div>
</div>
