<!-- Start Search Results Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">

        <div class="col-12 heading">
            <div>
                {{#if results}}
                    {{#is current_filter.identifier 'unified'}}
                        {{#if content_tag_filters }}
                        {{#each (filter content_tag_filters on="selected" equals=true)}}
                            {{t 'results_content_tag' content_tag=name count=../results_count}}
                        {{/each}}
                        {{else}}
                        {{t 'results' query=query count=results_count}}
                        {{/if}}
                    {{else}}
                        {{#if content_tag_filters }}
                        {{#each (filter content_tag_filters on="selected" equals=true)}}
                            {{t 'results_content_tag' content_tag=name count=../results_count}}
                        {{/each}}
                        {{else}}
                        {{#unless current_subfilter.identifier}}
                            {{t 'results' query=query count=results_count}}
                        {{else}}
                            {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
                        {{/unless}}
                        {{/if}}
                    {{/is}}
                {{/if}}
            </div>

            <form role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
                <label class="label--hidden" for="article-search">Search the Three Six Five Help Center:</label>
                <input id="article-search" class="search" id="query" name="query" type="search"
                    placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>

    </div>

    <div class="row padded-content row-dark">

        <!-- I don't think this block will show up -->
        {{#if source_filters}}
            <div class="col-12">
                <ul>
                    {{#each source_filters}}
                        <li class="button">
                            {{#if selected}}
                                <a href="{{url}}">
                            {{else}}
                                <a href="{{url}}">
                            {{/if}}
                            <span>{{name}}</span>
                            <span>({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        
        {{#if type_filters}}
            <div class="col-12">
                <div>Filter results:</div>

                <ul class="search-filters">
                    {{#each type_filters}}

                        <li>
                            {{#if selected}}
                                <a href="{{url}}" class="button button--active">
                            {{else}}
                                <a href="{{url}}" class="button button--inactive">
                            {{/if}}

                                {{#is name "Articles"}}
                                    <span class="js-article-filter">{{name}}</span>
                                {{else}}
                                    <span>{{name}}</span>
                                {{/is}}
                            </a>
                        </li>

                    {{/each}}
                </ul>

            </div>
        {{/if}}


        {{#if subfilters}}
            <div class="col-12">

                <ul class="search-filters">
                    {{#each subfilters}}

                        <li>
                            {{#if selected}}
                                <a href="{{url}}" aria-current="page" class="button button--active">
                            {{else}}
                                <a href="{{url}}" class="button button--inactive">
                            {{/if}}
                                <span>{{name}}</span>
                                <span>({{count}})</span>
                            </a>
                        </li>
                        
                    {{/each}}
                </ul>

            </div>
        {{/if}}

        {{#if content_tag_filters}}
            <div class="col-12">
                <div style="padding-top: 1.5rem;">
                    <div>Related to:</div>

                    <ul class="search-filters">

                        {{#each content_tag_filters}}

                            {{#if selected}}
                                <li>
                                    <a href="{{url}}" class="button">
                                        <i class="ph-x"></i>
                                        <span>{{name}}</span>
                                    </a>
                                </li>
                            {{/if}}

                        {{/each}}

                    </ul>
                </div>
            </div>
        {{/if}}
        
    </div>

    <div class="row padded-content row-light">
        {{#if results}}
            <ul class="col-12 search-results-container">
                {{#each results}}
                    <li class="search-result">
                        <a href="{{url}}" class="subheading link">{{title}}</a>
                        <div>{{text}}</div>

                        <div class="subheading--small-italic">Updated {{date edited_at timeago=true}}</div>

                        <div class="breadcrumbs-container">
                            <ol class="breadcrumbs breadcrumbs--search-results">
                                {{#each path_steps}}
                                    <li title="{{name}}">
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>

                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="row padded-content centered-content row-light">
        <div class="col-12 col-sm-6">
            {{pagination}}
        </div>
    </div>
</div>

<!-- Change "Articles" filter button text to "By Category" to make the action clearer -->
<script>
    document.querySelector( '.js-article-filter' ).innerHTML = 'By Category';
</script>
