<!-- Start Search Results Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12 heading">
            <div>
                {{t 'results' query=query count=results_count}}
            </div>

            <form role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
                <label class="label--hidden" for="article-search">Search the Three Six Five Help Center:</label>
                <input id="article-search" class="search" id="query" name="query" type="search"
                    placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>
    </div>

    <div class="row padded-content row-dark">

        <!-- I don't think this block will show up -->
        <div class="col-12">
            {{#if source_filters}}
                <ul>
                    {{#each source_filters}}
                        <li class="button">
                            {{#if selected}}
                                <a href="{{url}}">
                            {{else}}
                                <a href="{{url}}">
                            {{/if}}
                            <span>{{name}}</span>
                            <span>({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="col-12">
            {{#if type_filters}}
                <div>Filter results:</div>
                <ul class="search-filters">
                    {{#each type_filters}}
                        <li>
                            {{#if selected}}
                                <a href="{{url}}" class="button button--active">
                            {{else}}
                                <a href="{{url}}" class="button button--inactive">
                            {{/if}}

                            <span>{{name}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="col-12">
            {{#if subfilters}}
                <ul class="search-filters">
                    {{#each subfilters}}
                        <li>
                            {{#if selected}}
                                <a href="{{url}}" aria-current="page" class="button button--active">
                            {{else}}
                                <a href="{{url}}" class="button button--inactive">
                            {{/if}}
                                <span>{{name}}</span>
                                <span>({{count}})</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

    </div>

    <div class="row padded-content row-light">
        {{#if results}}
            <ul class="col-12 search-results-container">
                {{#each results}}
                    <li class="search-result">
                        <a href="{{url}}" class="subheading link">{{title}}</a>
                        <div>{{text}}</div>

                        <div class="subheading--small-italic">Updated {{date edited_at timeago=true}}</div>

                        <div class="breadcrumbs-container">
                            <ol class="breadcrumbs breadcrumbs--search-results">
                                {{#each path_steps}}
                                    <li title="{{name}}">
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                            </ol>
                        </div>

                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="row padded-content centered-content row-light">
        <div class="col-12 col-sm-6">
            {{pagination}}
        </div>
    </div>
</div>
