<!-- Start Section Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 subheading--large">{{section.name}}</div>

        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>

        {{#if section.description}}
            <div class="col-12 font-body--large pt-md">
                {{section.description}}
            </div>
        {{/if}}
    </div>

    <div class="row padded-content row-dark">

        {{#if section.articles}}

            <div class="card">
                <ul class="col-12 card__body card__body--columns">
                    {{#each section.articles}}
                        <li class="card__link font-body--large">
                            <a href="{{url}}">

                                {{#each labels}}

                                    {{#is identifier 'zdfilter365'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-365.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilteravanti'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-avanti.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterlightspeed'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-lightspeed.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterstockwell'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-stockwell.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterairvend'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-airvend.svg'}}">
                                    {{/is}}

                                    {{#is identifier 'zdfilterck'}}
                                        <img class="brand-article-marker" src="{{asset 'article_marker-ck.svg'}}">
                                    {{/is}}

                                {{/each}}

                                {{title}}

                                {{#if internal}}
                                    <i class="ph ph-lock-key"></i>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}
                    {{pagination "section.articles"}}
                </ul>
            </div>

        {{else}}
            <div class="col-12 card padded-content row-light">
                <div class="center-align-self subheading padded-content--no-gap">
                    This section does not contain any articles. It may contain other sections below.
                </div>
            </div>
        {{/if}}

    </div>

    <div class="row padded-content row-dark">

        {{#if section.sections}}
            {{#each section.sections}}
                <div class="col-sm-12 col-md-6 col-lg-3 card">
                    <div class="card__cap card__cap--rounded">
                        <a href="{{url}}" class="card__title">
                            <div>{{name}}</div>
                            <i class="ph ph-caret-right"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        {{/if}}

        {{pagination "section.sections"}}
    </div>

</div>
<!-- End Section Template -->
