<!-- Start Section Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12 heading">{{section.name}}</div>
    </div>

    <div class="row padded-content row-dark">

        {{#if section.sections}}
            {{#each section.sections}}
                <div class="col-sm-12 col-md-6 col-lg-3 card">
                    <a href="{{url}}" class="section_item-subsection">
                        {{name}}
                        <i class="ph-arrow-right"></i>
                    </a>
                </div>
            {{/each}}
        {{/if}}

        {{pagination "section.sections"}}
    </div>

    <div class="row padded-content row-dark">

        {{#if section.articles}}
            <ul class="col-12 card">
                {{#each section.articles}}
                    <li>
                        <a href="{{url}}" class="link">

                            {{#each labels}}

                                {{#is identifier 'zdfilter365'}}
                                    <img class="brand-article-marker" src="{{asset '365-article-marker.svg'}}">
                                {{/is}}

                                {{#is identifier 'zdfilteravanti'}}
                                    <img class="brand-article-marker" src="{{asset 'avanti-article-marker.svg'}}">
                                {{/is}}

                                {{#is identifier 'zdfilterlightspeed'}}
                                    <img class="brand-article-marker" src="{{asset 'lightspeed-article-marker.svg'}}">
                                {{/is}}

                                {{#is identifier 'zdfilterstockwell'}}
                                    <img class="brand-article-marker" src="{{asset 'stockwell-article-marker.svg'}}">
                                {{/is}}

                                {{#is identifier 'zdfilterairvend'}}
                                    <img class="brand-article-marker" src="{{asset 'airvend-article-marker.svg'}}">
                                {{/is}}

                                {{#is identifier 'zdfilterck'}}
                                    <img class="brand-article-marker" src="{{asset 'ck-article-marker.svg'}}">
                                {{/is}}

                            {{/each}}

                            {{title}}

                            {{#if internal}}
                                <i class="ph-lock-key-fill"></i>
                            {{/if}}
                        </a>
                    </li>
                {{/each}}
                {{pagination "section.articles"}}
            </ul>

        {{else}}
            <div class="col-12 card padded-content row-light">
                <div class="error-info">
                    This section does not contain any articles. It may contain other sections above.
                </div>
            </div>
        {{/if}}

    </div>
</div>
<!-- End Section Template -->
