<!-- Start Section Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row section_header">
        <div class="col-12 section_header-title">{{section.name}}</div>
    </div>

    <div class="row section_list">

        {{#if section.sections}}
            {{#each section.sections}}
                <div class="col-sm-12 col-md-6 col-lg-3 section_item">
                    <a href="{{url}}" class="section_item-subsection">
                        {{name}}
                        <i class="ph-arrow-right"></i>
                    </a>
                </div>
            {{/each}}
        {{/if}}

        {{pagination "section.sections"}}
    </div>

    <div class="row section_list">

        {{#if section.articles}}
            <div class="col-12 section_item">
                {{#each section.articles}}
                    <a href="{{url}}" class="section_item-article">
                        <i class="ph-caret-right"></i>
                        {{title}}
                    </a>
                {{/each}}
                {{pagination "section.articles"}}
            </div>

        {{else}}
            <div class="col-12 error_content">
                <div class="error-info">
                    This section does not contain any articles. It may contain other sections above.
                </div>
            </div>
        {{/if}}

    </div>
</div>
<!-- End Section Template -->
