<!-- Start Subscriptions Template -->
<div class="container">

    <div class="row py-md row-light">
        <div class="col-12 subheading--large">A list of articles you've saved for future reference</div>

        <div class="col-12 breadcrumbs-container">
            {{breadcrumbs}}
        </div>
    </div>


    {{#if subscriptions}}
        <div class="row row-light">
            <ul class="col-12 text-columns--sm">
                {{#each subscriptions}}
                    <li>
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>


    {{else}}
        <div class="row row-light">
            <div class="col-12">
                You haven't saved anything!<br/>
				Did you know you can save your favorite resources? Select the "Follow" button in any article or category and we'll keep it right here for you.
            </div>
        </div>
    {{/if}}

    <div class="row center-align row-light">
        <div class="col-12 text-align--center">
            {{pagination}}
        </div>
    </div>

</div>
<!-- End Subscriptions Template -->
