<!-- Start User Profile Template -->
<div class="container">
    
    <div class="row row-light">

        <div class="col col-md-6 d-flex py-lg">
            <img src="{{user.avatar_url}}" width="80" height="80" alt="User Avatar" />

            <div class="ps-md">

                {{#if user.url}}

                    <a 
                        href="{{user.url}}" 
                        class="subheading" 
                        target="_zendesk_lotus" 
                        title="{{t 'open_user_in_support'}}"
                    >
                        {{user.name}}
                    </a>

                {{else}}
                    <span class="subheading">
                        {{user.name}}
                    </span>
                {{/if}}

                <a role="button" title="Opens a dialog" data-action="edit-profile" href="#">
                    <i class="ph ph-pencil-line"></i>
                </a>

                <ul>
                    {{#if description}}
                        <li class="pb-md pt-none">{{description}}</li>
                    {{/if}}

                    <li class="p-none">
                        {{t 'member_since'}}:
                        {{#if member_since}}
                            {{date member_since format='medium'}}
                        {{else}}
                            {{t 'no_activity_yet'}}
                        {{/if}}
                    </li>

                    <li class="p-none">
                        {{t 'last_activity'}}:
                        {{#if last_activity_at}}
                            {{date last_activity_at timeago=true}}
                        {{else}}
                            {{t 'no_activity_yet'}}
                        {{/if}}
                    </li>

                    <li class="p-none">
                        {{t 'votes'}}:
                        {{vote_count}}
                    </li>

                    <li class="p-none">
                        Saved Articles:
                        {{subscription_count}}
                    </li>

                    <li id="js-clear-theme" class="p-none pt-md">
                        <a class="button button--sm">
                            <i class="ph ph-paint-brush-household"></i>
                            Clear saved theme mode
                        </a>
                    </li>
                </ul>
            </div>
        </div>
	
	</div>

    <div class="row padded-content row-dark">

        <div class="col-sm-12 col-md-6 col-lg-3 card">
            <div class="card__cap">
                <div class="card__title">
                    Site Links
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://adm.365retailmarkets.com/public/login">ADM</a>
                </li>

                <li>
                    <a href="https://smarthq.365retailmarkets.com/smarthq/">SmartHQ</a>
                </li>

                <li>
                    <a href="https://live.air-vend.com">AirVend Live</a>
                </li>

                <li>
                    <a href="https://www.mymarketaccount.com/Login.aspx">MyMarketAccount - User Portal</a>
                </li>

                <li>
                    <a href="https://adminportal.365retailmarkets.com/Login.aspx">MyMarketAccount - Admin Portal</a>
                </li>
        
                <li>
                    <a href="http://365mobileinventory.com/">365Inventory (Mobile Inventory)</a>
                </li>

                <li>
                    <a href="https://365smartinventory.com/R3/">Smart Inventory</a>
                </li>

                <li>
                    <a href="http://mymarketaccount.net/">MyMarketAccount.net</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 card">
            <div class="card__cap">
                <div class="card__title">
                    Help
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://365retailmarkets.zendesk.com/access/help">Reset Password</a>
                </li>
                
                <li>
                    <a href="https://ideas.365retailmarkets.com/ideas/new">Share Your Ideas</a>
                </li>
                
                <li>
                    <a href="{{page_path 'new_request'}}">Submit New Ticket</a>
                </li>
                
                <li>
                    <a href="{{page_path 'new_request'}}">Contact Us</a>
                </li>
                
                <li>
                    <a href="https://status.365retailmarkets.com">System Status</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 card js-restricted-internal-content">
            <div class="card__cap">
                <div class="card__title">
                    Internal Support
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://lastpass.com/misc_download2.php?cmp=1">LastPass</a>
                </li>
                
                <li>
                    <a href="https://host.sensor-swarm.com/login/">SensorSwarm Host</a>
                </li>
                
                <li>
                    <a href="https://www.c9pg.com/cloud9/web/">Cloud9 Payment Gateway</a>
                </li>
                
                <li>
                    <a href="https://www.imonnit.com/Account/Logon?ReturnUrl=/">iMonnit</a>
                </li>
                
                <li>
                    <a href="https://365retailmarkets.atlassian.net/">JIRA</a>
                </li>

                <li>
                    <a href="https://app.365rm.co/Support/OTAContacts">LMI Alert Contact List</a>
                </li>
                
                <li>
                    <a href="https://365smartshop1.sharepoint.com/sites/RMALabels">RMA Tracking Log</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 card js-restricted-internal-content">
            <div class="card__cap">
                <div class="card__title">
                    Network &amp; Remote Tools
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://secure.logmein.com/central/Central.aspx">LogMeIn</a>
                </li>
                
                <li>
                    <a href="https://get.teamviewer.com/ut6utx4">TeamViewer</a>
                </li>
                
                <li>
                    <a href="https://dashboard.optconnect.com/customer/index/3663">OptConnect Summit</a>
                </li>
                
                <li>
                    <a href="https://opensignal.com/networks/usa/at&t-coverage">AT&amp;T Signal Coverage</a>
                </li>
                
                <li>
                    <a href="https://opensignal.com/networks/usa/verizon-coverage">Verizon Signal Coverage</a>
                </li>
                
                <li>
                    <a href="https://my.nayax.com/DCS/LoginPage.aspx?ReturnUrl=%2fdcs%2fLogoutPage.aspx">NayaxVend Authentication</a>
                </li>
                
                <li>
                    <a href="https://dashweb.readytouch.com/login?next=/">Dashweb</a>
                </li>

                <li>
                    <a href="https://moki-marbles.appspot.com/aem?tenantid=728a20c5-a76b-4467-a5d7-af117dcb36c2#/?mdm=t">Moki Dashboard</a>
                </li>
                
                <li>
                    <a href="https://n158.meraki.com/o/a_MCdb/manage/users/sms_auth_config/">Meraki Dashboard</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 card js-restricted-internal-content">
            <div class="card__cap">
                <div class="card__title">
                    Emulators
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://www.cisco.com/assets/sol/sb/RV215W_Emulators/RV215W_Emulator_v1.0.0.16/default_EN.asp.htm">Cisco RV215W Emulator</a>
                </li>

                <li>
                    <a href="https://www.cisco.com/assets/sol/sb/RV110W_Emulators/RV110W_Emulator_v1.0.0.2/default.asp.htm">Cisco RV110W Emulator</a>
                </li>

                <li>
                    <a href="http://ui.linksys.com/E1200/1.0.00/index.html">Linksys E1200 Emulator</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 card js-restricted-internal-content">
            <div class="card__cap">
                <div class="card__title">
                    Human Resources
                </div>
            </div>

            <ul class="card__body">
                <li>
                    <a href="https://93721.wheniwork.com/login">WhenIWork</a>
                </li>
                
                <li>
                    <a href="https://www.principal.com/">Principal 401K</a>
                </li>
                
                <li>
                    <a href="https://access.paylocity.com/">Paylocity</a>
                </li>

            </ul>
        </div>

    </div>
</div>

<script>

    $( '#js-clear-theme' ).click( function() {
        if ( !localStorage.getItem( 'colorMode' )) {
            $( this )
                .html(
                    `<a class="button button--sm button--alert" style="cursor: not-allowed;">
                        <i class="ph ph-smiley-x-eyes"></i>
                        Theme mode not set!
                    </a>`
                );

            setTimeout(() => {
                $( this )
                    .html( 
                        `<a class="button button--sm">
                            <i class="ph ph-paint-brush-household"></i>
                            Clear saved theme mode
                        </a>`
                        );
            }, 3000);
        }

        else {
            localStorage.removeItem( 'colorMode' );
            $( this )
                .html(
                    `<a class="button button--sm button--success">
                        <i class="ph ph-smiley-wink"></i>
                        Theme mode cleared! Click again to reload.
                    </a>`
                );

            $( this ).removeAttr( 'id' );
            $( this ).click( function() {
                $( this )
                .html(
                    `<a class="button button--sm button--success">
                        <i class="ph ph-smiley-wink"></i>
                        Theme mode cleared! Click again to reload.
                    </a>`
                );
                location.reload();
            });
        }
    });

</script>
